@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


@media (min-width: 1100px){
    body{
	max-width: 1400px;
	margin: auto !important;
    }
    #iconReservia{
	width: 50% !important;
    }
    #navigation{
	justify-content: flex-end !important;
    }
    .navHaut{
	width: 35% !important;
    }
    .navHautSpeTel{
	width: 10% !important;
    }
    .navHautSpeTel:hover {
	border-top: 3px solid #0065fc !important;
	color: #0065FC; 
	padding: 17px 10px 17px 20px;
    }
    .fa-search:before{
	display: none !important;
    }
    #article1 {
	width: 60%;
    }
    .imageBoite{
	width: 30%;
    }
    aside {
	width: 28%;
    }
    #article2{
	width: 100% !important;
    }
    .boiteRec1, .boiteRec2{
	margin-bottom: 15px !important;
    }
}



@media (min-width: 650px) and (max-width: 1099.98px){
    #iconReservia{
	width: 40% !important;
    }
    #navigation{
	justify-content: flex-end !important;
    }
    .navHaut{
	width: 35% !important;
    }
    .navHautSpeTel{
	width: 10% !important;
    }
    .navHautSpeTel:hover {
	border-top: 3px solid #0065fc !important;
	color: #0065FC; 
	padding: 17px 10px 17px 20px;
    }  
    .fa-search:before{
	display: none !important;
    }
    #article1, aside {
	width: 100%
    }
    .imageBoite{
	width: 45%;
	height: auto !important;
    }
    aside{
	flex-wrap: nowrap !important;
	flex-direction: column !important;
	justify-content: center !important;
	margin-top: 30px !important;
    }
    #articleBoite2{
	flex-wrap: wrap !important;
	justify-content: space-around !important;
    }
    .imageBoite2{
	width: 44% !important;
	margin-bottom: 17px;
    }
    .deuxRectangles{
	width: 44% !important;
	margin-bottom: 17px;
    }
    .boiteRec1, .boiteRec2{
	margin-bottom: 15px !important;
    }
}

@media (max-width: 649.98px){
    body{
	/*width: 100%;
	max-width: 256px !important;
	margin: auto !important;*/
    }
    header{
	display: flex;
	justify-content: space-between !important;
	flex-wrap: wrap !important;
	align-items: center;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
    }
    #iconReservia{
    	width: 50% !important;
    } 
    #navigation{
	width: 100% !important;
	display: flex;
	padding-bottom: 20px !important;
	order: 2 !important;
    }
    .navHaut{
	border-bottom: 3px solid #f2f2f2 !important;
    }
    .navHaut:hover {
	border-top:none !important; 
	border-bottom: 3px solid #0065fc !important;
	color: #0065FC; 
	padding: 17px 10px 17px 20px;
    }
    .navHautSpeTel{
	width: 30% !important;    
	font-weight: bold;
	order: 1 !important;
    }
    .navHautSpeTel:hover{
	font-weight: normal;
        border-top: 3px solid #0065fc !important;
    }
    .barreRecherche{
	width: 100% !important;
    }
    .boutonRecherche{
	border-radius: 10px 10px 10px 10px !important;
	padding: 0 16px 0 16px !important;
	margin-left: -30px !important;
    }
    .boutonRechercheText{
	display:  none !important;	
    }
    .fa-search:before{
	color: white;
    }
    #Divfiltres{
	font-size: 14px!important;
    }
    #Divfiltres > h3{
	width: 96%;
    }
    section {
	justify-content: center !important;
    }
    #article1, aside {
	width: 100%;
    }
    #article1{
	order: 2;
	background-color: white !important;
    }
    .imageBoite{
	width: 95%;
	height: auto !important;
    }
    aside{
	width : auto !important;
	height: 100% !important;
	justify-content: center !important;
	order: 1;
	border-radius : 0 0 0 0!important;
    }
    .asideBoite{
	width: 100% !important;
	height: 100% !important;
    }
    #article2 {
	order:3;
	width: 100% !important;
/*	display: flex;
	flex-direction: column;
	align-items: center;*/
    }
    #article2 > h2{
	padding-left: 10px ;	
    }
    #articleBoite2{
	flex-direction: column !important;
	align-items: center !important;
    }
    .imageBoite2{
	width: 90% !important;
	margin-bottom: 20px !important;
    }
    .imageBoite2 > img{
	height: 220px !important;

    }
    .deuxRectangles {
	width : 90% !important;
	margin-bottom: 20px !important;
    }
    .boiteRec1{
	margin-bottom: 20px !important;
    }
    .boiteRec1 > img , .boiteRec2 > img{
	height: 220px !important;
    }
    footer{
	flex-wrap: wrap !important;
	align-items: center !important;
    }
    #foot1, #foot2, #foot3{
	width :97% !important;
    }

}






body{
    font-family: "Raleway", "Sans serif";
    margin: 0; /*ne fonctionne pas (attention a la synthax ":")*/
    
}
header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 18px;
    }
#iconReservia{
    padding: 0px 0 0 20px;
}
.navHautSpeTel{
    width: 7%;    
    font-weight: bold;
    color: #0065fc; 
    order: 2;
    text-align : center ;
}
#navigation{
    width: 40%;
    display: flex;
    order: 1;
}
.navHaut, .navHautSpe {
    width: 100%;
    padding: 20px 10px 20px 20px;
    text-decoration: none;
    text-align: center;
}
.navHautSpe{
    font-weight: bold;
    color: #0065FC;
}

main{
    margin: 0 20px 0 20px; 
}

#container-1{
    display:flex;
    flex-direction: column;	
}
.Post {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}
.iconLocalisation {
    background-color: #F2F2F2;
    padding: 17px 17px 17px 17px; 
    border-radius: 15px 0 0 15px;
    text-align: center;
}
.fa-map-marker-alt:before {
    color: black !important;
}
.barreRecherche {
    box-sizing: border-box;
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 12px;
    width: 20%;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}
.boutonRecherche {
    background-color: #0065FC;
    color: white;
    
    border: none;
    border-radius: 0 16px 16px 0;
    
    padding: 0 16px 0 16px; 
   
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}
#Divfiltres{
    display:flex;
    flex-wrap: wrap;

    margin-top: 17px;
    font-size: 14px;
    font-weight: bold;
}
#Divfiltres  i{
 
    background-color: #DEEBFF;
    border-radius: 100%;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}
.filtres{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 22px 10px 33px; 
    border: solid #d9d9d9 2px;
    border-radius: 30px 30px 30px 30px;
}
.boitefiltres{
    display: flex;
    justify-content: center;
}
#f2, #f3, #f4, #f5{
    margin: 0 ;
    padding: 0px 14px 0px 12px;
    font-weight: bold;    
}
#logements500 {
    margin-top: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 37px;
}
#logements500 p {
    margin-left: 16px;
}
#logements500  i {
    border: solid grey 1px;
    border-radius: 100%; 
    padding: 6px 10px 5px 10px;
    background-color: #ffff;
}

#fasCourbe{
    color: black;
}
.fas,.fa-info,.fa-child {
    color: #0065fc;

}

#post form{
    border: pink solid 4px;
    width: 100px;
    height: 40px;    
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
section span {
    display: flex;
    padding: 0px 10px 5px 10px ;
}
#article1 {
    border: none;
    border-radius: 15px 15px 15px 15px;
    background-color:#f2f2f2;
}

.imageBoite{
    height: 207px;

    border: solid white 4px;
    border-radius: 10px 10px 10px 10px;

    margin: 10px 0 20px 0;
    
    color: black;
    background-color: white; 
}
.image{
    width: 100%;
    border : white 2px;
    border-radius: 7px 7px 0 0 ;
    object-fit: cover;
    height: 130px;
}
.imageBoite1{
    width: 94%;
    height: 148px;

    border: solid white 4px;
    border-radius: 10px 10px 10px 10px;

    margin: 0px 0px 30px 0;

    display: flex;
    
    color: black;
    background-color: white; 
}
.image1{
    width: 132px;
    height: 100%; 
    object-fit: cover;

    border : none;
    border-radius: 6px 0 0 6px;
}

#article2{
    margin: 20px 0 47px 0 ;
}
.imageBoite2{
    width: 22%;
    
    border: none; 
    border-radius: 19px 19px 16px 16px ; 
    
    color: black;
}
.image2{
    width: 100%;
    height: 85%;
    object-fit: cover;

    border-radius: 16px 16px 0px 0px;
    margin: 0 0 7px 0;
}

.deuxRectangles{
    width: 22%;
    display: flex;
    flex-direction: column;
    color: black;
}
.boiteRec1{
    width: 100%;
   /* height: 40%;*/
    border :none; 
    border-radius: 16px 16px 16px 16px; 

}
.boiteRec2{
    width: 100%;
    height: 40%;
    border : none; 
    border-radius: 16px 16px 16px 16px; 
}
.imageRec1{
    width: 100%;
    height: 155px;
    object-fit: cover;

    border-radius: 16px 16px 0px 0px;
    margin: 0 0 7px 0;
    
}
.imageRec2{
    width: 100%;
    height: 105px;
    object-fit: cover;

    border-radius: 16px 16px 0px 0px;
    margin: 0 0 7px 0;
}


aside {
    display: flex;
    flex-wrap: wrap;
    border: none; 
    border-radius: 15px 15px 15px 15px ;

    background-color: #f2f2f2;
}
.h2Courbe{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
aside , #article1{
    padding: 0 28px 0 28px;
}
.articleBoite1{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: baseline;
}




#articleBoite2{
    display: flex;
    justify-content: space-between;

}

.asideBoite{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    /*    align-items: center; */
}




footer
{
    display:flex;
    background: #f2f2f2;
    flex-wrap:wrap;
}

footer ul li{
    padding: 0 0 10px 0;
}
#foot1{
    width: 30%; 
    display:flex;
    flex-direction: column;	
}
#foot2{
    width: 30%; 
    display:flex;
    flex-direction: column;	
}
#foot3{
    width: 30%; 
    display:flex;
    flex-direction: column;	
}
.titreFooter{
    font-weight: bold;
    padding-bottom: 24px;
}
footer a:hover{
    color: orange;
}



a{
    color: black;
    text-decoration:none;
}
.filtres:hover { /*il faut le mettre en bas, !no se poque! */
    background-color: #d9d9d9;
    transform: scale(1.027);
}
.navHaut:hover, .navHautSpe:hover {
    border-top: 3px solid #0065fc;
    padding: 17px 10px 20px 20px;
    color: #0065FC;
}
.navHautSpeTel:hover{
    border-top: 3px solid #0065fc;
    padding: 17px 10px 20px 0px;

}

.imageBoite:hover {
    transform: scale(1.027);
}
.imageBoite1:hover {
    transform: scale(1.027);
}
.imageBoite2:hover {
    transform: scale(1.027);
}
.boiteRec1:hover {
    transform: scale(1.027);
}
.boiteRec2:hover {
    transform: scale(1.027);
}
.imageBoite, .imageBoite1, .imageBoite2, .boiteRec1, .boiteRec2{
    box-shadow: 0 0 3px #e5e5e5;/* a modifier */
}
strong{
    font-size: 120%;
}

.spanGras{
    font-weight: bold;
    
}

.etoileGris{
     color: #d9d9d9 !important;
}


.etoile{
    color: RGB(0,101,252);
    padding: 0px 10px 5px 10px ;
}








